* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$colorPrimario: rgb(39, 39, 126);

@mixin background {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

html,
body,
#root {
  height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
}

#main-header {
  display: flex;
  background-color: $colorPrimario;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  box-shadow: 0 2px 5px rgba(3, 3, 3, 0.849);

  h1 {
    color: white;
  }

  nav {
    .img {
      height: 5rem;
      width: 5rem;
    }
    a {
      color: white;
      text-decoration: none;
      margin-left: 1rem;
    }
  }
}

main {
  flex-grow: 1;
  padding: 1rem;

  /*.tituloMain {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
  }*/

  .mainStyle {
    margin: 2rem;
    padding: 2rem;
    box-shadow: 0 2px 5px rgb(151, 23, 23);
  }
  .card {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
    border: 5rem;
    padding: 2rem;
    box-shadow: 0 2px 5px rgb(151, 23, 23);
    .aumenta {
      margin-top: 1rem;
      margin-left: 1rem;
    }

    .disminuye {
      margin-top: 1rem;
      margin-left: 1rem;
    }

    .confirmar {
      margin-top: 1rem;
      margin-left: 1rem;
    }
  }

  .detalle {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
    border: 5rem;
    padding: 2rem;
    box-shadow: 0 2px 5px rgb(151, 23, 23);
  }
}

.estilosProductos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1rem;
  margin-top: 1rem;
}

footer {
  background-color: $colorPrimario;
  color: white;
  padding: 0.5rem;
  text-align: center;
  font-size: medium;
}
