* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$colorPrimario: rgb(39, 39, 126);
// $colorPrimario: #00c9c8;

@mixin background {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

html,
body,
#root {
  height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
}

#main-header {
  display: flex;
  background-color: $colorPrimario;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  box-shadow: 0 2px 5px rgba(3, 3, 3, 0.849);

  a {
    text-decoration: none;
  }

  h1 {
    color: white;
    text-decoration: none;
  }

  nav {
    .img {
      height: 5rem;
      width: 5rem;
    }
    a {
      color: white;
      text-decoration: none;
      margin-left: 1rem;
    }
  }
}

main {
  flex-grow: 1;
  padding: 1rem;

  /*
  .tituloMain {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
  }
  */

  .mainStyle {
    margin: 2rem;
    padding: 2rem;
    box-shadow: 0 2px 5px rgb(151, 23, 23);
  }
  .card {
    background-color: white;
    padding: 1rem;
    border-radius: 3px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    text-align: center;
    transition: all 0.3s ease;

    &:hover {
      box-shadow: 0 0 10px 8px rgba(0, 0, 0, 0.3);
      transform: scale(1.1);
      background-color: white;
      color: black;

      button {
        background-color: white;
      }

      a {
        color: black;
      }
    }

    h2 {
      margin-top: 1rem;
    }

    p {
      margin-top: 1rem;
    }

    button {
      margin-top: 1rem;
      background-color: white;
      color: black;
      border: none;
      padding: 0.5rem 1rem;
      border-radius: 5px;
      font-size: 1rem;
      cursor: pointer;
      transition: all 0.3s ease;

      a {
        color: white;
        text-decoration: none;
      }

      &:hover {
        background-color: rgb(39, 39, 126);
        color: rgb(251, 255, 251);
      }
    }

    .aumenta {
      margin-top: 1rem;
      margin-left: 1rem;
    }

    .disminuye {
      margin-top: 1rem;
      margin-left: 1rem;
    }

    .confirmar {
      margin-top: 1rem;
      margin-left: 1rem;
    }
  }

  .detalle {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
    border: 5rem;
    padding: 2rem;
    box-shadow: 0 2px 5px rgb(151, 23, 23);
  }

  article {
    background-color: white;
    padding: 1rem;
    border-radius: 3px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    text-align: center;
    transition: all 0.3s ease;

    &:hover {
      box-shadow: 0 0 10px 8px rgba(0, 0, 0, 0.3);
      transform: scale(1.1);
      background-color: $colorPrimario;
      color: white;

      button {
        background-color: white;
      }

      a {
        color: black;
      }
    }

    h2 {
      margin-top: 1rem;
    }

    p {
      margin-top: 1rem;
    }

    button {
      margin-top: 1rem;
      background-color: $colorPrimario;
      color: white;
      border: none;
      padding: 0.5rem 1rem;
      border-radius: 5px;
      font-size: 1rem;
      cursor: pointer;
      transition: all 0.3s ease;

      a {
        color: white;
        text-decoration: none;
      }

      &:hover {
        background-color: rgb(251, 255, 251);
        color: $colorPrimario;
      }
    }
  }
}

.estilosProductos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1rem;
  margin-top: 1rem;
}

footer {
  background-color: $colorPrimario;
  color: white;
  padding: 0.5rem;
  text-align: center;
  font-size: medium;
}
